@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, 'sans-serif';
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;

}

.sidebar {
  background-color: #0ea5e9;
  grid-column-start: 1;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  padding: 15px 25px;
  color: rgb(240, 240, 240);
  justify-content: start;
  gap: 50px;
}
.first-section-of-sidebar {
  grid-column-start: 1;
  grid-row-start: 1;
}

.last-section-of-sidebar {
  grid-column-start: 1;
  grid-row-start: 2;

}

.heading-of-sidebar {
  font-size: 3rem;
  margin-bottom: 50px;
  font-weight: bold;
}

.heading-of-sidebar .material-icons {
  font-size: 3rem !important;
}

.first-list-of-sidebar {
  font-size: 25px;
  font-weight: bold;
  display: grid;
  gap: 15px;
}

.material-icons {
  font-size: 25px  !important;
  margin-right: 25px;
  vertical-align: top;
  cursor: pointer;
}

.last-list-of-sidebar {
  font-size: 25px;
  font-weight: bold;
  display: grid;
  gap: 15px;
}


.header {
  background-color: #f1f5f9;
  grid-column-start: 2;
  grid-row-start: 1;
  z-index: 10;
  box-shadow: 0px 2px 4px gray;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 3fr;
}

.first-section-of-header {
  grid-row-start: 1;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 50px;
  align-items: center;
  padding: 10px 20px;
}
.search-bar {
  grid-column-start: 1;
  display: grid;
  grid-template-columns: 1fr 20fr;
}
.search-bar span {
  grid-column-start: 1;
}

.search-bar input {
  grid-column-start: 2;
  padding: 5px;
  font-size: 15px;
  outline: none !important;
  border: none;
  border-radius: 8px;
  padding: 4px 2px;
  background-color: rgb(163, 163, 163);
}

.search-bar input:focus {
  border: #0ea5e9 2px solid;
}

.profile-and-notification-icon {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.profile-and-notification-icon img {
  width: 40px;
  height: auto;
  border-radius: 50%;
  

}

.second-section-of-header {
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 10px 20px;
  gap: 50px;
}

.profile-intro {
  grid-column-start: 1;
  display: grid;
  grid-template-columns: 150px 1fr;
  
}
.profile-intro img {
  width: 60px;
  height: auto;
  border-radius: 50%;
  grid-column-start: 1;
}

.profile-intro .introduction {
  grid-column-start: 2;
}

.thebuttons {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;

  
}

.thebuttons buttons {
  width: 120px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  background-color: #0ea5e9;
  color: rgb(240, 240, 240);
  display: grid;
  justify-content: center;
  align-items: center;
  transition: 0.15s;
  cursor: pointer;
  
}
.thebuttons buttons:hover {
  color: #0ea5e9;
  background-color: rgb(240, 240, 240);
  opacity: 0.8;
  border: #0ea5e9 2px solid;
  
}
.thebuttons buttons:active {
  color: #0ea5e9;
  background-color: rgb(240, 240, 240);
  opacity: 0.5;
  border: #0ea5e9 2px solid;
}

.projects {
  background-color:#cbd5e1;
  grid-column-start: 2;
  grid-row-start: 2;
}
ul li {
  list-style-type: none;
  cursor: pointer;
  
}

